{% extends 'admin-index.html' %}
{% load static %}
{% block title %}
<title>Admin Brochure Download</title>
{% endblock title %}

<!-- Start bootstrap table -->
{% block bs_table %}

<!-- Start Heading -->
<div class="row pt-4">
    <div class="col-md-12 text-primary text-center">
        <h4> Brochure Downloaded </h4>
    </div>
</div>
<!-- End Heading -->

<!-- Start Table -->
<div class="row pt-4">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="table-primary">
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Mobile Number</th>
                  <th>Email</th>
                    <th>Qualification</th>
                    <th>Address</th>
                    <th>Course Name</th>
                </tr>
              </thead>
              <tbody>
              {% for i in result %}
                <tr>
                  <td>{{ i.id }}</td>
                  <td>{{ i.full_name }}</td>
                  <td>{{ i.mobile_number }}</td>
                  <td>{{ i.email }}</td>
                  <td>{{ i.qualification }}</td>
                  <td>{{ i.address }}</td>
                  <td>{{ i.course_name }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>

<!-- End Table -->
{% endblock bs_table %}
<!-- End bootstrap table -->