<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms and Condition</title>
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <!-- jQuery Library -->
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <!-- bootstrap min.js -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Font awsome icon online library -->
        <script src="https://kit.fontawesome.com/c857374f8d.js" crossorigin="anonymous"></script>
        <!-- mai CSS it will use in all files -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <!-- Follow on sidebar icon css -->
        <link rel="stylesheet" href="{% static 'css/follow-on-sidebar-icon.css' %}" />
        <!-- Contact us CSS -->
        <link rel="stylesheet" href="{% static 'css/contact-us.css' %}" />
        <!-- Drop Down sub menu navbar css -->
        <link rel="stylesheet" href="{% static 'css/drop-down-sub-menu-nav.css' %}" />
        <!-- Own Home Screen CSS -->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 privacy-policy-modal">
                <div class="modal-body pl-3 pr-3">
                    <!-- Start Terms and Conditions Heading -->
                    <div class="row privacy-policy-heading">
                        <div class="col-md-12">
                            Terms and Conditions
                        </div>
                    </div>
                    <!-- End Terms and Conditions Heading -->
                    <!-- Start Welcome to Snable! heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                            Welcome to Snable!
                        </div>
                    </div>
                    <!-- End Welcome to Snable! heading1 -->
                    <!-- Start Terms and Conditions Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                These terms and conditions outline the rules and regulations for the use of Snable Private Limited's Website, located at <a href="www.snable.in">www.snable.in.</a>
                            </p>
                            <p>
                                By accessing this website we assume you accept these terms and conditions. Do not continue to use Snable if you do not agree to take all of the terms and conditions stated on this page.
                            </p>
                            <p>
                                The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
                            </p>
                        </div>
                    </div>
                    <!-- End Terms and Conditions Content -->
                    <!-- Start Cookies heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                            Cookies
                        </div>
                    </div>
                    <!-- End Cookies heading1 -->
                    <!-- Start Cookies Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                We employ the use of cookies. By accessing Snable, you agreed to use cookies in agreement with the Snable Private Limited's Privacy Policy.
                            </p>
                            <p>
                                Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
                            </p>
                        </div>
                    </div>
                    <!-- End Cookies Content -->
                    <!-- Start License heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                            License
                        </div>
                    </div>
                    <!-- End License heading1 -->
                    <!-- Start License Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                Unless otherwise stated, Snable Private Limited and/or its licensors own the intellectual property rights for all material on Snable. All intellectual property rights are reserved. You may access this from Snable for your own personal use subjected to restrictions set in these terms and conditions.
                            </p>
                        </div>
                    </div>
                    <!-- End License Content -->
                    <!-- Start For the purposes of this Privacy Policy heading3 -->
                    <div class="row privacy-policy-heading3 text-justify">
                        <div class="col-md-12">
                            You must not:
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy heading3 -->
                    <!-- Start For the purposes of this Privacy Policy content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    Republish material from Snable
                                </li>
                                <li>
                                    Sell, rent or sub-license material from Snable
                                </li>
                                <li>
                                    Reproduce, duplicate or copy material from Snable
                                </li>
                                <li>
                                    Redistribute content from Snable
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy content -->
                    <!-- Start For the purposes of this Privacy Policy heading3 -->
                    <div class="row privacy-policy-heading3 text-justify">
                        <div class="col-md-12">
                            This Agreement shall begin on the date hereof.
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy heading3 -->
                    <!-- Start Cookies Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Snable Private Limited does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Snable Private Limited,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Snable Private                                 </p>
                            <p>
                                Limited shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
                            </p>
                            <p>
                                Snable Private Limited reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.
                            </p>
                        </div>
                    </div>
                    <!-- End Cookies Content -->
                    <!-- Start For the purposes of this Privacy Policy heading3 -->
                    <div class="row privacy-policy-heading3 text-justify">
                        <div class="col-md-12">
                            You warrant and represent that:
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy heading3 -->
                    <!-- Start For the purposes of this Privacy Policy content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
                                </li>
                                <li>
                                    The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;
                                </li>
                                <li>
                                    The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy
                                </li>
                                <li>
                                    The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy content -->
                    <!-- Start Cookies heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                           Hyperlinking to our Content
                        </div>
                    </div>
                    <!-- End Cookies heading1 -->
                    <!-- Start For the purposes of this Privacy Policy heading3 -->
                    <div class="row privacy-policy-heading3 text-justify">
                        <div class="col-md-12">
                           The following organizations may link to our Website without prior written approval:
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy heading3 -->
                    <!-- Start For the purposes of this Privacy Policy content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    Government agencies;
                                </li>
                                <li>
                                    Search engines;
                                </li>
                                <li>
                                    News organizations;
                                </li>
                                <li>
                                    Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and
                                </li>
                                <li>
                                    System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy content -->
                    <!-- Start Cookies Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                               These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.
                            </p>
                        </div>
                    </div>
                    <!-- End Cookies Content -->
                    <!-- Start For the purposes of this Privacy Policy heading3 -->
                    <div class="row privacy-policy-heading3 text-justify">
                        <div class="col-md-12">
                           We may consider and approve other link requests from the following types of organizations:
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy heading3 -->
                    <!-- Start For the purposes of this Privacy Policy content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    commonly-known consumer and/or business information sources;
                                </li>
                                <li>
                                    dot.com community sites;
                                </li>
                                <li>
                                    associations or other groups representing charities;
                                </li>
                                <li>
                                    online directory distributors;
                                </li>
                                <li>
                                    internet portals;
                                </li>
                                <li>
                                    accounting, law and consulting firms; and
                                </li>
                                <li>
                                    educational institutions and trade associations.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy content -->
                    <!-- Start Cookies Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Snable Private Limited; and (d) the link is in the context of general resource information.
                            </p>
                            <p>
                                These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.
                            </p>
                            <p>
                                If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Snable Private Limited. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.
                            </p>
                        </div>
                    </div>
                    <!-- End Cookies Content -->
                     <!-- Start For the purposes of this Privacy Policy heading3 -->
                    <div class="row privacy-policy-heading3 text-justify">
                        <div class="col-md-12">
                           Approved organizations may hyperlink to our Website as follows:
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy heading3 -->
                    <!-- Start For the purposes of this Privacy Policy content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    By use of our corporate name; or
                                </li>
                                <li>
                                    By use of the uniform resource locator being linked to; or
                                </li>
                                <li>
                                    By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End For the purposes of this Privacy Policy content -->
                    <!-- Start Cookies Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                No use of Snable Private Limited's logo or other artwork will be allowed for linking absent a trademark license agreement.
                            </p>
                        </div>
                    </div>
                    <!-- End Cookies Content -->
                    <!-- Start Welcome to Snable! heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                            iFrames
                        </div>
                    </div>
                    <!-- End Welcome to Snable! heading1 -->
                    <!-- Start Terms and Conditions Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.
                            </p>
                        </div>
                    </div>
                    <!-- End Terms and Conditions Content -->
                     <!-- Start Welcome to Snable! heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                            Content Liability
                        </div>
                    </div>
                    <!-- End Welcome to Snable! heading1 -->
                    <!-- Start Terms and Conditions Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.
                            </p>
                        </div>
                    </div>
                    <!-- End Terms and Conditions Content -->
                    <!-- Start Welcome to Snable! heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                            Your Privacy
                        </div>
                    </div>
                    <!-- End Welcome to Snable! heading1 -->
                    <!-- Start Terms and Conditions Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                Please read Privacy Policy
                            </p>
                        </div>
                    </div>
                    <!-- End Terms and Conditions Content -->
                    <!-- Start Welcome to Snable! heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                            Reservation of Rights
                        </div>
                    </div>
                    <!-- End Welcome to Snable! heading1 -->
                    <!-- Start Terms and Conditions Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                               We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.
                            </p>
                        </div>
                    </div>
                    <!-- End Terms and Conditions Content -->
                    <!-- Start Welcome to Snable! heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                           Removal of links from our website
                        </div>
                    </div>
                    <!-- End Welcome to Snable! heading1 -->
                    <!-- Start Terms and Conditions Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.
                            </p>
                            <p>
                                We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.
                            </p>
                        </div>
                    </div>
                    <!-- End Terms and Conditions Content -->
                    <!-- Start Welcome to Snable! heading1 -->
                    <div class="row privacy-policy-heading1 text-justify">
                        <div class="col-md-12">
                           Disclaimer
                        </div>
                    </div>
                    <!-- End Welcome to Snable! heading1 -->
                    <!-- Start Terms and Conditions Content -->
                    <div class="row privacy-policy-content text-justify">
                        <div class="col-md-12">
                            <p>
                                To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:
                            </p>
                            <p>
                                <ul>
                                    <li>limit or exclude our or your liability for death or personal injury;</li>
                                    <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                                    <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                                    <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                                </ul>
                            </p>
                            <p>
                                The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.
                            </p>
                            <p>
                                As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.
                            </p>
                        </div>
                    </div>
                    <!-- End Terms and Conditions Content -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>