{% extends 'index.html' %} {% load static %}

{% block meta_description %}
<meta name="description" content="Looking for a Professional Data Science, AI, ML Training in Nagpur? Look no further, Enroll in our Data Science Classes and make way for a bright future Now!">
<meta name="keywords" content="Data Science Training in Nagpur, ai & ml course, artificial intelligence course details, data science course in nagpur">
{% endblock meta_description %}

{% block title %}
<title>Data Science Course with AI & ML in Nagpur | Snable Pvt Ltd</title>
{% endblock title %}

<!-- Own Home Screen CSS -->
{% block own_css %}
<link rel="stylesheet" href="{% static 'css/training-program-common-css.css' %}" />
{% endblock own_css %}

<!-- Start Slider -->
{% block slider %}

<div class="row slider pl-5 pr-5">
    <div class="col-md-1"></div>
    <!-- Start Sub Heading, Heading, Buttons -->
    <div class="col-md-5 slider-heading-content-buttons">
        <!-- Start Main Heading -->
        <div class="row slider-heading">
            <div class="col-md-12">
                <h1>Data Science & Machine Learning</h1>
            </div>
        </div>
        <!-- End Main Heading -->

        <!-- Start main sub heading-->
        <div class="row slider-sub-heading">
            <div class="col-md-12">
                Making Data-Driven Decisions
            </div>
        </div>
        <!-- End main sub heading-->

        <!-- Start Traning and placement Button -->
        <div class="row slider-buttons">
            <div class="col-sm-6">
                <a href="https://calendly.com/snablein/book-and-appointment" class="text-decoration-none" target="_blank"> <button type="button" class="btn btn-primary btn-lg btn-block">Book an Appointment</button> &nbsp; </a>
            </div>
            <div class="col-sm-6">
                <!--<a href="{{result.docs.url}}" class="text-decoration-none" target="_blank">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                        Download brochure
                    </button>            &nbsp;
                </a>-->
                <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-target="#modal_downlaod_brochure" data-toggle="modal">
                    Download brochure
                </button>
            </div>
        </div>
        <!-- Start Traning and placement Button -->
    </div>
    <!-- End Sub Heading, Heading, Buttons -->
    <div class="col-md-1"></div>
    <!-- Start Slider Image -->
    <div class="col-md-4">
        <div class="row slider-image">
            <div class="col-md-12">
                <img class="float-right img-fluid" src="{% static 'img/training-program-ds-ml-slider.png' %}" alt="ai-&-ml-course" />
            </div>
        </div>
    </div>
    <!-- End Slider Image -->
    <div class="col-md-1"></div>
</div>

<!-- Start Traning and placement Button -->
<div class="row mobile-view-slider-buttons pl-4 pr-4">
    <div class="col-sm-6">
        <a href="https://calendly.com/snablein/book-and-appointment" class="text-decoration-none" target="_blank"> <button type="button" class="btn btn-primary btn-lg btn-block">Book an Appointment</button> &nbsp; </a>
    </div>
    <div class="col-sm-6">

        <!--<a href="{{result.docs.url}}" class="text-decoration-none" target="_blank">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                Download brochure
            </button>            &nbsp;
        </a>-->


        <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-target="#modal_downlaod_brochure_mobile_view" data-toggle="modal">
                    Download brochure
        </button>
    </div>
</div>
<!-- Start Traning and placement Button -->

{% endblock slider %}
<!-- End Slider -->

<!-- Start Main body -->
{% block main_body %}

<!-- Start Program Overview Heading -->
<div class="row program-overview-heading">
    <div class="col-md-12">
        Program Overview
    </div>
</div>
<!-- End Program Overview Heading -->

<!-- Start Key Highlights heading -->
<div class="row key-highlights-heading">
    <div class="col-md-12">
        Key Highlights
    </div>
</div>
<!-- End Key Highlights heading -->

<!-- Start Key Highlights content -->
<div class="row key-highlights-content">
    <div class="col-md-4 key-highlights-content-column">
        <ul>
            <li>1400+ Hours of Learning</li>
            <li>Designed for Professionals</li>
            <li>15+ Case Studies and Assignments</li>
            <li>6 Practical Hands-on Capstone Projects</li>
            <li>Live Coding Classes & Profile Building Workshops</li>
            <li>No Cost EMI Options available</li>
            <li>Dedicated Student Success Mentor</li>
            <li>3 Electives to customize your learning path</li>
            <li>Learning management system</li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <ul>
            <li>Daily Doubt Resolution Sessions</li>
            <li>Career Mentorship Sessions(1:1)</li>
            <li>High Performance Coaching(1:1)</li>
            <li>Exclusive Job opportunities</li>
            <li>AI Powered Profile Builder</li>
            <li>Personalised Industry Session</li>
            <li>Creation of portfolio website on Github to boost the learners’ career persona</li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>
<!-- End Key Highlights content -->

<!-- Start Tools Covered For UI/UX Design heading -->
<div class="row tools-covered-heading">
    <div class="col-md-12">
        Tool Covered for Data Science & Machine Learning
    </div>
</div>
<!-- End Tools Covered For UI/UX Design heading -->

<!-- Start Tools Covered For UI/UX Design icon -->
<div class="row tools-covered-icon">

    <!-- Start Python -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-ds-ml-python.png' %}" alt="Python-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                Python
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End Python -->

    <!-- Start NumPy -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-ds-ml-numpy.png' %}" alt="NumPy-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                NumPy
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End NumPy -->

    <!-- Start K Keras -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-ds-ml-k-keras.png' %}" alt="K-Keras-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                K Keras
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End K Keras -->

    <!-- Start Tensor Flow -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-ds-ml-tensor-flow.png' %}" alt="Tensor-Flow-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                Tensor Flow
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End Tensor Flow -->

    <!-- Start Matplotlib -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-ds-ml-matplotlib.png' %}" alt="Matplotlib-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                Matplotlib
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End Matplotlib -->

    <!-- Start Scikit Learn -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-ds-ml-scikit-learn.png' %}" alt="Scikit-Learn-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                Scikit Learn
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End Scikit Learn -->

    <!-- Start And More.... -->
    <div class="col-md-2 col-sm-6 col-12">

        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 tools-content-and-more">
                And More....
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End And More.... -->

</div>
<!-- End Tools Covered For UI/UX Design icon -->


<!-- Start Tools Covered For UI/UX Design/ description heading -->
<div class="row course-description">
    <div class="col-md-12">
        Description
    </div>
</div>
<!-- End Tools Covered For UI/UX Design/ description heading -->

<!-- Start Key Highlights content / General Content -->
<div class="row key-highlights-content">
    <div class="col-md-12 text-justify">
        Data Science is the field which deals with large data and convert it into valuable information with the help of scientific principles and advanced analytical techniques where as machine learning is a subfield of data science and in which the systems can learn from data, identify patterns and make decisions with minimal human involvement.
    </div>
</div>
<!-- End Key Highlights content / General Content -->

<!-- Start Tools Covered For UI/UX Design/ Skills You Will Learn heading -->
<div class="row skills-you-will-learn-heading">
    <div class="col-md-12">
       Skills You Will Learn
    </div>
</div>
<!-- End Tools Covered For UI/UX Design/ Skills You Will Learn heading -->

<!-- Start Key Highlights content / General Content -->
<div class="row key-highlights-content">
    <div class="col-md-12">
        <ol>
            <li>Coding Skills & Programming</li>
            <li>Marketing Strategies</li>
            <li>Business Finance</li>
            <li>Foundations of Data Science/ Python for Data Science</li>
            <li>Spectral Clustering, Components, and Embeddings</li>
            <li>Predictive Analytics</li>
        </ol>
    </div>
</div>
<!-- End Key Highlights content / General Content -->

<!-- Start Syllabus -->
<div class="row syllabus">
    <div class="col-md-12">

        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 syllabus-heading">
                Syllabus
            </div>
        </div>
        <!-- End Heading -->

        <!-- Start Module row 1 -->
        <div class="row">

            <div class="col-md-6">

                <!-- Start Module 1 : Foundations of Data Science/ Python for Data Science Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                         Module 1 : <span class="module-heading-smaller">Foundations of Data Science/ Python for Data Science</span>
                    </div>
                </div>
                <!-- End Module 1 : Foundations of Data Science/ Python for Data Science Heading -->

                <!-- Start Module 1 : Foundations of Data Science/ Python for Data Science Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Numpy</li>
                            <li>Pandas</li>
                            <li>Data Visualization</li>
                        </ul>
                    </div>

                </div>
                <!-- End Module 1 : Foundations of Data Science/ Python for Data Science Content -->

                <!-- Start Stats for Data Science Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol>
                            <li>Stats for Data Science</li>
                        </ol>
                    </div>
                </div>
                <!-- End Stats for Data Science Heading -->

                <!-- Start Stats for Data Science Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Descriptive Statistics</li>
                            <li>Inferential Statistics</li>
                        </ul>
                    </div>

                </div>
                <!-- End Stats for Data Science Content -->

                <!-- Start Module 2 : Making Sense of Unstructured Data Introduction Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                        Module 2 : <span class="module-heading-smaller">Making Sense of Unstructured Data Introduction</span>
                    </div>
                </div>
                <!-- End Module 2 : Making Sense of Unstructured Data Introduction Heading -->

                <!-- Start Module 2 : Making Sense of Unstructured Data Introduction Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>What is unsupervised learning, and why is it challenging?</li>
                            <li>Examples of unsupervised learning</li>
                        </ul>
                    </div>

                </div>
                <!-- End Module 2 : Making Sense of Unstructured Data Introduction Content -->

                <!-- Start Clustering Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol>
                            <li>
                                Clustering
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- End Clustering Heading -->

                <!-- Start Clustering Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>What is Clustering?</li>
                            <li>When to use Clustering</li>
                            <li>K-means Preliminaries</li>
                            <li>The K-means algorithm</li>
                            <li>How to evaluate Clustering</li>
                            <li>Beyond K-means: What really makes a Cluster?</li>
                            <li>Beyond K-means: Other notions of distance</li>
                            <li>Beyond K-means: Data and pre-processing</li>
                            <li>Beyond K-means: Big data and Nonparametric Bayes</li>
                            <li>Beyond Clustering</li>
                        </ul>
                    </div>

                </div>
                <!-- End Clustering Content -->

                <!-- Start Spectral Clustering, Components, and Embeddings Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol start="2">
                            <li>
                                Spectral Clustering, Components, and Embeddings
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- End Spectral Clustering, Components, and Embeddings Heading -->

                <!-- Start Spectral Clustering, Components, and Embeddings Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>What if we do not have features to describe the data or not all are meaningful?</li>
                            <li>Finding the principal components in data and applications</li>
                            <li>The magic of Eigenvectors I</li>
                            <li>Clustering in Graphs and Networks</li>
                            <li>Features from graphs: The magic of Eigenvectors II</li>
                            <li>Spectral Clustering</li>
                            <li>Modularity Clustering</li>
                            <li>Embeddings: New features and their meaning</li>
                        </ul>
                    </div>

                </div>
                <!-- End Spectral Clustering, Components, and Embeddings Content -->

                <!-- Start Module 3 : Regression and Prediction Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                        Module 3 : <span class="module-heading-smaller">Regression and Prediction <br>
                        LEARNING BREAK <br>
                        MasterClass on Regression and Prediction</span>
                    </div>
                </div>
                <!-- End Module 3 : Regression and Prediction Heading -->

                <!-- Start Classical Linear and Non-Linear Regression and Extensions Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol>
                            <li>Classical Linear and Non-Linear Regression and Extensions</li>
                        </ol>
                    </div>
                </div>
                <!-- End Classical Linear and Non-Linear Regression and Extensions Heading -->

                <!-- Start Classical Linear and Non-Linear Regression and Extensions Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Linear Regression with one and several variables</li>
                            <li>Linear Regression for prediction</li>
                            <li>Linear Regression for causal inference</li>
                            <li>Logistic and other types of Non-Linear Regression</li>
                        </ul>
                    </div>

                </div>
                <!-- End Classical Linear and Non-Linear Regression and Extensions Content -->

                <!-- Start Modern Regression with High-Dimensional Data Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol start="2">
                            <li>Modern Regression with High-Dimensional Data</li>
                        </ol>
                    </div>
                </div>
                <!-- End Modern Regression with High-Dimensional Data Heading -->

                <!-- Start Modern Regression with High-Dimensional Data Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Making good predictions with high-dimensional data; avoiding overfitting by validation and cross-validation</li>
                            <li>Regularization by Lasso, Ridge, and their modifications</li>
                            <li>Regression Trees, Random Forest, Boosted Trees</li>
                        </ul>
                    </div>

                </div>
                <!-- End Modern Regression with High-Dimensional Data Content -->

                <!-- Start The Use of Modern Regression for Causal Inference Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol start="3">
                            <li>The Use of Modern Regression for Causal Inference</li>
                        </ol>
                    </div>
                </div>
                <!-- End The Use of Modern Regression for Causal Inference Heading -->

                <!-- Start The Use of Modern Regression for Causal Inference Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Randomized control trials</li>
                            <li>Observational studies with confounding</li>
                        </ul>
                    </div>

                </div>
                <!-- End The Use of Modern Regression for Causal Inference Content -->

                <!-- Start Module 4 : Classification and Hypothesis Testing Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                        Module 4 : <span class="module-heading-smaller">Classification and Hypothesis Testing</span>
                    </div>
                </div>
                <!-- End Module 4 : Classification and Hypothesis Testing Heading -->

                <!-- Start Module 4 : Classification and Hypothesis Testing Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>What are anomalies? What is fraud? What are spams?</li>
                            <li>Binary Classification: False Positive/Negative, Precision/Recall, F1-Score</li>
                            <li>Logistic and Probit Regression: Statistical Binary Classification</li>
                            <li>Hypothesis Testing: Ratio Test and Neyman-Pearson p-values: Confidence Support Vector Machine: Non-statistical Classifier</li>
                            <li>Perceptron: Simple Classifier with elegant interpretation</li>
                        </ul>
                    </div>

                </div>
                <!-- End Module 4 : Classification and Hypothesis Testing Content -->

            </div>

            <div class="col-md-6">

                 <!-- Start Module 5 : Deep Learning Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                         Module 5 : <span class="module-heading-smaller">Deep Learning</span>
                    </div>
                </div>
                <!-- End Module 5 : Deep Learning Heading -->

                <!-- Start Module 5 : Deep Learning Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>What is Image Classification? Introduce ImageNet and show examples</li>
                            <li>Classification using a single linear threshold (perceptron)</li>
                            <li>Hierarchical representations</li>
                            <li>Fitting parameters using back-propagation</li>
                            <li>Non-convex functions</li>
                            <li>How interpretable are its features?</li>
                            <li>Manipulating Deep Nets (Ostrich Example)</li>
                            <li>Transfer Learning</li>
                            <li>Other applications I: Speech Recognition</li>
                            <li>Other applications II: Natural Language Processing</li>
                        </ul>
                    </div>

                </div>
                <!-- End Module 5 : Deep Learning Content -->

                <!-- Start Module 6 : Recommendation Systems Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                        Module 6 : <span class="module-heading-smaller">Recommendation Systems</span>
                    </div>
                </div>
                <!-- End Module 6 : Recommendation Systems Heading -->

                <!-- Start Recommendations and Ranking Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol>
                            <li>
                                Recommendations and Ranking
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- End Recommendations and Ranking Heading -->

                <!-- Start Recommendations and Ranking Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>What does a recommendation system do?</li>
                            <li>What is the Recommendation Prediction Problem? What data do we have?</li>
                            <li>Using population averages</li>
                            <li>Using population comparisons and ranking</li>
                        </ul>
                    </div>

                </div>
                <!-- End Recommendations and Ranking Content -->

                <!-- Start Collaborative Filtering Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol start="2">
                            <li>
                                Collaborative Filtering
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- End Collaborative Filtering Heading -->

                <!-- Start Collaborative Filtering Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Personalization using collaborative filtering using similar users</li>
                            <li>Personalization using collaborative filtering using similar items</li>
                            <li>Personalization using collaborative filtering using similar users and items</li>
                        </ul>
                    </div>

                </div>
                <!-- End Collaborative Filtering Content -->

                <!-- Start Personalized Recommendations Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol start="3">
                            <li>
                                Personalized Recommendations
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- End Personalized Recommendations Heading -->

                <!-- Start Personalized Recommendations Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Personalization using comparisons, rankings, and users-items</li>
                            <li>Hidden Markov Model/Neural Nets, bipartite graph, and graphical model</li>
                            <li>Using side-information</li>
                            <li>20 questions and active learning</li>
                            <li>Building a system: algorithmic and system challenges</li>
                        </ul>
                    </div>

                </div>
                <!-- End Personalized Recommendations Content -->

                <!-- Start Module 7 : Networking and Graphical Models Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                         Module 7 : <span class="module-heading-smaller">Networking and Graphical Models</span>
                    </div>
                </div>
                <!-- End Module 7 : Networking and Graphical Models Heading -->

                <!-- Start Introduction Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol>
                            <li>Introduction</li>
                        </ol>
                    </div>
                </div>
                <!-- End Introduction Heading -->

                <!-- Start Introduction Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Introduction to networks</li>
                            <li>Examples of networks</li>
                            <li>Representation of networks</li>
                        </ul>
                    </div>

                </div>
                <!-- End Introduction Content -->

                <!-- Start Networks Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol start="2">
                            <li>Networks</li>
                        </ol>
                    </div>
                </div>
                <!-- End Networks Heading -->

                <!-- Start Networks Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Centrality measures: degree, eigenvector, and page-rank</li>
                            <li>Closeness and betweenness centrality Degree distribution, clustering, and small world</li>
                            <li>Network models: Erdos-Renyi, configuration model, preferential attachment</li>
                            <li>Stochastic models on networks for the spread of viruses or ideas</li>
                            <li>Influence maximization</li>
                        </ul>
                    </div>

                </div>
                <!-- End Networks Content -->

                <!-- Start Graphical Models Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol start="3">
                            <li>Graphical Models</li>
                        </ol>
                    </div>
                </div>
                <!-- End Graphical Models Heading -->

                <!-- Start Graphical Models Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Undirected graphical models</li>
                            <li>Ising and Gaussian models</li>
                            <li>Learning graphical models from data</li>
                            <li>Directed graphical models</li>
                            <li>V-structures, “explaining away,” and learning directed graphical models</li>
                            <li>Inference in graphical models: marginals and message passing</li>
                            <li>Hidden Markov Model (HMM) Kalman Filter</li>
                        </ul>
                    </div>

                </div>
                <!-- End Graphical Models Content -->

                <!-- Start Module 8 : Predictive Analytics Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                        Module 8 : <span class="module-heading-smaller">Predictive Analytics</span>
                    </div>
                </div>
                <!-- End Module 8 : Predictive Analytics Heading -->

                <!-- Start Module 8 : Predictive Analytics Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Predictive Modeling for Temporal Data</li>
                            <li>Prediction engineering</li>
                        </ul>
                    </div>

                </div>
                <!-- End Module 8 : Predictive Analytics Content -->

                <!-- Start Feature Engineering Heading -->
                <div class="row">
                    <div class="col-md-12 ml-module-heading">
                        <ol>
                            <li>
                                Feature Engineering
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- End Feature Engineering Heading -->

                <!-- Start Feature Engineering Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Introduction</li>
                            <li>Feature types</li>
                            <li>Deep Feature Synthesis: primitives and algorithms</li>
                            <li>Deep Feature Synthesis: stacking</li>
                        </ul>
                    </div>

                </div>
                <!-- End Feature Engineering Content -->

            </div>

        </div>
        <!-- End Module row 1 -->


        <!-- Start Duration -->
        <div class="row">
            <div class="col-md-12 syllabus-duration">
                Duration - 6 Months
            </div>
        </div>
        <!-- End Duration -->

    </div>
</div>
<!-- End Syllabus -->

<!-- Start brochure model -->
<div class="modal fade brochure-modal" id="modal_downlaod_brochure">
    <div class="modal-dialog modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row modal-contact-form-company-info">

                    <!-- Start brochure image -->
                    <div class="col-md-4">
                        <img class="img-fluid" src="{% static 'img/training-program-data-science-machine-learning-model-img.png' %}" alt="snable">
                    </div>
                    <!-- End brochure image -->

                    <!-- Start Form -->
                    <div class="col-md-8 modal-contact-form">

                        <!-- Start Form Close Button -->
                        <div class="row pt-2">
                            <div class="col-md-12 text-right">
                                <a href="#" data-dismiss="modal" class="close">&times;</a>
                            </div>
                        </div>
                        <!-- End Form Close Button -->

                        <!-- Start Form heading -->
                        <div class="row">
                            <div class="col-md-12 form-heading">
                                Get Your Brochure Copy
                            </div>
                        </div>
                        <!-- Start Form heading -->

                        <!-- Start Form sub heading-->
                        <div class="row">
                            <div class="col-md-12 form-sub-heading">
                                Fill in the below details a personalised brochure
                            </div>
                        </div>
                        <!-- Start Form sub heading-->

                        <!-- Start name and mobile number -->
                        <form method="POST" action="inserttrainingprogramdatasciencemachinelearningbrochurerecord" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <!-- Start Full name, Mobile number -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Name" name="full_name" required />
                              </div>
                              <div class="col-md-6 col-5 modal-contact-form-input-text-box pl-0">
                                 <input type="number" class="form-control" placeholder="Mobile Number" name="mobile_number" id="modal_mynum" required />
                              </div>
                           </div>
                           <!-- End Full name, Mobile number -->

                            <!-- Start Email address, Qualification -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Email" name="email_id" id="modal_myemail" required />
                              </div>
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Qualification" name="qualification" required />
                              </div>
                           </div>
                           <!-- End Email address, Qualification -->

                              <!-- Start Address -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Address" name="address" required />
                              </div>
                           </div>
                           <!-- End Address -->

                            <!-- Start terms and condition our privacy policy -->
                            <div class="row form-group form-check">
                                <div class="col-md-12 terms-condition-privacy-policy form-check-label">
                                    <input class="form-check-input" type="checkbox"> By submitting the form, you agree to our
                                    <a href="{% url 'termsandcondition' %}" class="text-decoration-none" target="_blank">Terms and Conditions</a>.
                                    and
                                     <a href="{% url 'privacypolicy' %}" class="text-decoration-none" target="_blank">Our Privacy Policy</a>.
                                </div>
                            </div>
                            <!-- End terms and condition our privacy policy -->

                            <div class="row modal-contact-form-btn">
                                  <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Download Brochure
                                    </button>
                                  </div>
                            </div>
                        </form>
                        <!-- End name and mobile number -->

                    </div>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brochure model -->

<!-- Start brochure model Mobile View -->
<div class="modal fade brochure-modal" id="modal_downlaod_brochure_mobile_view">
    <div class="modal-dialog modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-body">

                <!-- Start Form Close Button -->
                <div class="row pt-2">
                    <div class="col-md-12 text-right">
                        <a href="#" data-dismiss="modal" class="close">&times;</a>
                    </div>
                </div>
                <!-- End Form Close Button -->

                <!-- Start Form heading -->
                <div class="row">
                    <div class="col-md-12 form-heading">
                        Get Your Brochure Copy
                    </div>
                </div>
                <!-- Start Form heading -->

                <!-- Start Form sub heading-->
                <div class="row">
                    <div class="col-md-12 form-sub-heading">
                        Fill in the below details a personalised brochure
                    </div>
                </div>
                <!-- Start Form sub heading-->

                <!-- Start brochure image -->
                <div class="row">
                    <div class="col-md-12 pt-2 pl-0">
                        <img class="img-fluid" src="{% static 'img/training-program-data-science-machine-learning-model-img-mobile-view.png' %}" alt="snable" width="100%">
                    </div>
                </div>
                <!-- End brochure image -->

                <div class="row modal-contact-form-company-info">
                    <!-- Start Form -->
                    <div class="col-md-12 modal-contact-form">
                        <!-- Start name and mobile number -->
                        <form method="POST" action="inserttrainingprogramdatasciencemachinelearningbrochurerecord" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <!-- Start Full name, Mobile number -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6 col-12">
                                 <input type="text" class="form-control" placeholder="Name" name="full_name" required />
                              </div>
                              <div class="col-md-6 col-12 modal-contact-form-input-text-box ">
                                 <input type="number" class="form-control" placeholder="Mobile Number" name="mobile_number" id="modal_mynum" required />
                              </div>
                           </div>
                           <!-- End Full name, Mobile number -->

                            <!-- Start Email address, Qualification -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6 col-12">
                                 <input type="text" class="form-control" placeholder="Email" name="email_id" id="modal_myemail" required />
                              </div>
                              <div class="col-md-6 col-12">
                                 <input type="text" class="form-control" placeholder="Qualification" name="qualification" required />
                              </div>
                           </div>
                           <!-- End Email address, Qualification -->

                              <!-- Start Address -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6 col-12">
                                 <input type="text" class="form-control" placeholder="Address" name="address" required />
                              </div>
                           </div>
                           <!-- End Address -->

                            <!-- Start terms and condition our privacy policy -->
                            <div class="row form-group form-check">
                                <div class="col-md-12 terms-condition-privacy-policy form-check-label">
                                    <input class="form-check-input" type="checkbox"> By submitting the form, you agree to our
                                    <a href="{% url 'termsandcondition' %}" class="text-decoration-none" target="_blank">Terms and Conditions</a>.
                                    and
                                     <a href="{% url 'privacypolicy' %}" class="text-decoration-none" target="_blank">Our Privacy Policy</a>.
                                </div>
                            </div>
                            <!-- End terms and condition our privacy policy -->

                            <div class="row modal-contact-form-btn">
                                  <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Download Brochure
                                    </button>
                                  </div>
                            </div>
                        </form>
                        <!-- End name and mobile number -->

                    </div>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brochure model Mobile View -->

{% endblock main_body %}
<!-- End Main body -->

<!-- Start Contact US Form & Google Map -->
{% block main_body_contact_form %}
<div class="container-fluid">
    <div class="row contact-us pl-5 pr-5 pb-3">
          <!-- Start Contact Us Form -->
      <div class="col-md-6">

         <!-- Start Contact Us heading  -->
         <div class="row contact-us-heading">
            <div class="col-md-12">
               Fill in your Details
            </div>
         </div>
         <!-- End Contact Us heading  -->

         <form method="post" action="insert_training_hiring_form" class="needs-validation" novalidate>
            {% csrf_token %}

            <!-- Start Full Name -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Enter your full name" name="full_name" required />
                  </div>
               </div>
            </div>
            <!-- End Full Name -->

            <!-- Start Qualification -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Enter your Qualifications" name="qualifications" required />
                  </div>
               </div>
            </div>
            <!-- Start Qualification -->

            <!-- Start Select Course -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12">
                  <div class="form-group">
                     <!--<input type="text" class="form-control" placeholder="Enter your full name" name="full_name" required />-->
                     <select name="course_name" id="" class="form-control" required>
                        <option value="">--- Select Course ---</option>
                        <option value="UI & UX Design">UI & UX Design</option>
                        <option value="Digital Marketing">Digital Marketing</option>
                        <option value="Hybrid Mobile App Development">Hybrid Mobile App Development</option>
                        <option value="Data Science">Data Science</option>
                        <option value="Machine Learning">Machine Learning</option>
                        <option value="Data Science & Machine Learning">Data Science & Machine Learning</option>
                        <option value="Full Stack & AIML">Full Stack & AIML</option>
                     </select>
                  </div>
               </div>
            </div>
            <!-- End Select Course -->

            <!-- Start Email Address -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Enter your email address" id="myemail" name="email_id" required />
                  </div>
               </div>
            </div>
            <!-- End Email Address -->

            <!-- Start Mobile & Whatsapp number -->
            <div class="row">
               <!-- Start Mobile number-->
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-2 col-3 contact-mobile-whats-icon">
                        <i class="fa-solid fa-phone"></i>
                     </div>
                     <div class="col-md-10 col-9 c-u-form c-u-form-without-p">
                        <div class="form-group pr-3">
                           <input type="number" class="form-control" placeholder="Enter your number" name="mobile_number" id="mynum" required />
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End Mobile number-->
               <!-- Start Whatsapp number-->
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-2 col-3 contact-mobile-whats-icon">
                        <i class="fa-brands fa-whatsapp"></i>
                     </div>
                     <div class="col-md-10 col-9 c-u-form c-u-form-without-p">
                        <div class="form-group pr-3">
                           <input type="number" class="form-control" placeholder="Enter your number" name="whatsapp_number" id="mynum1" required />
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End Whatsapp number-->
            </div>
            <!-- End Mobile & Whatsapp number -->

            <!-- Start Contact us form comments -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12 pr-1 pl-4">
                  <div class="form-group">
                     <textarea class="form-control" rows="5" id="comment" name="message" placeholder="Message"></textarea>
                  </div>
               </div>
            </div>
            <!-- End Contact us form comments -->

            <!-- Start Submit button -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-4">
                  <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
               </div>

               <div class="col-md-8 pt-3 text-white">
                  {% for i in messages %}
                  <!--{{i}} -->
                  {% if i.tags %}
                  <script>
                     alert("{{ i }}");
                  </script>
                  {% endif %} {% endfor %}
                  <!--{% if messages %}
                     {% for message in messages %}
                         {% if message.tags %}
                                 <script>alert("{{ message }}")</script>
                         {% endif %}
                     {% endfor %}
                     {% endif %}-->
               </div>
            </div>
            <!-- End Submit button -->

         </form>
      </div>
      <!-- End Contact Us Form -->

        <!-- Start google map for address -->
        <div class="col-md-6">
            <div class="row google-map-address">
                <div class="col-md-12 google-map-container">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3721.994315605251!2d79.0599659!3d21.1127928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb961cf6806a0ad6e!2sSnable%20Private%20Limited%20%7C%20SaaS%20Based%20Organization%20%7C%20Information%20Technologies%20%7C%20Digital%20Marketing%20%7C%20Mobile%20Application%20Development!5e0!3m2!1sen!2sin!4v1648702479280!5m2!1sen!2sin"
                        width="600"
                        height="450"
                        style="border: 0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        width="100%"
                        class="responsive-iframe"
                    ></iframe>
                </div>
            </div>
        </div>
        <!-- End google map for address -->
    </div>
    <div class="row mobile-view-google-map-address">
        <div class="col-md-12 mobile-view-google-map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3721.994315605251!2d79.0599659!3d21.1127928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb961cf6806a0ad6e!2sSnable%20Private%20Limited%20%7C%20SaaS%20Based%20Organization%20%7C%20Information%20Technologies%20%7C%20Digital%20Marketing%20%7C%20Mobile%20Application%20Development!5e0!3m2!1sen!2sin!4v1648702479280!5m2!1sen!2sin"
                width="600"
                height="450"
                style="border: 0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                width="100%"
                class="responsive-iframe"
            ></iframe>
        </div>
    </div>
</div>
{% endblock main_body_contact_form %}
<!-- End Contact US Form & Google Map -->
