{% extends 'index.html' %} {% load static %}

{% block meta_description %}
<meta name="description" content="Snable is offering the best Digital Marketing certification course in Nagpur. Become SEO, Social media marketing and PPC expert with our course today.">
<meta name="keywords" content="digital marketing course in nagpur, digital marketing certification course, digital marketing classes, best digital marketing course, digital marketing course near by me, best digital marketing certification">
{% endblock meta_description %}

{% block title %}
<title>Digital Marketing Course in Nagpur | Snable Pvt Ltd</title>
{% endblock title %}

<!-- Own Home Screen CSS -->
{% block own_css %}
<link rel="stylesheet" href="{% static 'css/training-program-common-css.css' %}" />
{% endblock own_css %}

<!-- Start Slider -->
{% block slider %}

<div class="row slider pl-5 pr-5">
    <div class="col-md-1"></div>
    <!-- Start Sub Heading, Heading, Buttons -->
    <div class="col-md-5 slider-heading-content-buttons">
        <!-- Start Main Heading -->
        <div class="row slider-heading">
            <div class="col-md-12">
                <h1>Digital Marketing</h1>
            </div>
        </div>
        <!-- End Main Heading -->
        <!-- Start Traning and placement Button -->
        <div class="row slider-buttons">
            <div class="col-sm-6">
                <a href="https://calendly.com/snablein/book-and-appointment" class="text-decoration-none" target="_blank"> <button type="button" class="btn btn-primary btn-lg btn-block">Book an Appointment</button> &nbsp; </a>
            </div>
            <div class="col-sm-6">
                <!--<a href="{{result.docs.url}}" class="text-decoration-none" target="_blank">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                        Download brochure
                    </button>            &nbsp;
                </a>-->

                <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-target="#modal_downlaod_brochure" data-toggle="modal">
                    Download brochure
                </button>
            </div>
        </div>
        <!-- Start Traning and placement Button -->
    </div>
    <!-- End Sub Heading, Heading, Buttons -->
    <div class="col-md-1"></div>
    <!-- Start Slider Image -->
    <div class="col-md-4">
        <div class="row slider-image">
            <div class="col-md-12">
                <img class="float-right img-fluid" src="{% static 'img/training-program-digital-marketing-slider.png' %}" alt="courses-for-marketing-professionals" />
            </div>
        </div>
    </div>
    <!-- End Slider Image -->
    <div class="col-md-1"></div>
</div>

<!-- Start Traning and placement Button -->
<div class="row mobile-view-slider-buttons pl-4 pr-4">
    <div class="col-sm-6">
        <a href="https://calendly.com/snablein/book-and-appointment" class="text-decoration-none" target="_blank"> <button type="button" class="btn btn-primary btn-lg btn-block">Book an Appointment</button> &nbsp; </a>
    </div>
    <div class="col-sm-6">

        <!--<a href="{{result.docs.url}}" class="text-decoration-none" target="_blank">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                Download brochure
            </button>            &nbsp;
        </a>-->


        <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-target="#modal_downlaod_brochure_mobile_view" data-toggle="modal">
            Download brochure
        </button>
    </div>
    <div class="col-sm-4"></div>
</div>
<!-- Start Traning and placement Button -->

{% endblock slider %}
<!-- End Slider -->

<!-- Start Main body -->
{% block main_body %}

<!-- Start Program Overview Heading -->
<div class="row program-overview-heading">
    <div class="col-md-12 ">
        Program Overview
    </div>
</div>
<!-- End Program Overview Heading -->

<!-- Start Key Highlights heading -->
<div class="row key-highlights-heading">
    <div class="col-md-12 ">
        Key Highlights
    </div>
</div>
<!-- End Key Highlights heading -->

<!-- Start Key Highlights content -->
<div class="row key-highlights-content">
    <div class="col-md-3 col-12 key-highlights-content-column">
        <ul>
            <li>1400+ Hours of Learning</li>
            <li>Designed for Freshers and Professionals</li>
            <li>15+ Case Studies and Assignments</li>
            <li>6 Practical Hands-on Capstone Projects</li>
            <li>No Cost EMI Options available</li>
            <li>Dedicated Student Success Mentor</li>
            <li>Learning management system</li>
        </ul>
    </div>
    <div class="col-md-1 col-0"></div>
    <div class="col-md-3 col-12">
        <ul>
            <li>Daily Doubt Resolution Sessions</li>
            <li>Career Mentorship Sessions(1:1)</li>
            <li>High Performance Coaching(1:1)</li>
            <li>Exclusive Job opportunities</li>
            <li>Personalised Industry Session</li>
        </ul>
    </div>
    <div class="col-md-5 col-0"></div>
</div>
<!-- End Key Highlights content -->

<!-- Start Tools Covered For UI/UX Design heading -->
<div class="row tools-covered-heading">
    <div class="col-md-12 ">
        Tools Covered For Digital Marketing
    </div>
</div>
<!-- End Tools Covered For UI/UX Design heading -->

<!-- Start Tools Covered For UI/UX Design icon -->
<div class="row tools-covered-icon">
    <!-- Start Google Analytics -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-google-analytics.png' %}" alt="Google-Analytics-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                Google Analytics
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End Google Analytics -->

    <!-- Start Google Keywords Planner -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-google-keywords-planner.png' %}" alt="Google-Keywords-Planner-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                Google Keywords Planner
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End Google Keywords Planner -->

    <!-- Start Google Adwords -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-google-adwords.png' %}" alt="Google-Adwords-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                Google Adwords
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End Google Adwords -->

    <!-- Start YouTube -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-youtube.png' %}" alt="YouTube-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                YouTube
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End YouTube -->

    <!-- Start Facebook -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-digital-marketing-facebook.png' %}" alt="Facebook-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                Facebook
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End Facebook -->

    <!-- Start Twitter  -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-digital-marketing-twitter.png' %}" alt="Twitter-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                Twitter
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End Twitter  -->

    <!-- Start LinkedIn -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-digital-marketing-linkedIn.png' %}" alt="LinkedIn-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                LinkedIn
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End LinkedIn -->

    <!-- Start  Instagram -->
    <div class="col-md-1 col-sm-6 col-2">
        <!-- Start Icon -->
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'img/training-program-digital-marketing-instagram.png' %}" alt="Instagram-img">
            </div>
        </div>
        <!-- End Icon -->
        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 text-center tools-content">
                 Instagram
            </div>
        </div>
        <!-- End Heading -->
    </div>
    <!-- End  Instagram -->
</div>
<!-- End Tools Covered For UI/UX Design icon -->

<!-- Start Tools Digital Marketing Certification heading -->
<div class="row course-description">
    <div class="col-md-12">
        Digital Marketing Certification:
    </div>
</div>
<!-- End Tools Digital Marketing Certification heading -->

<!-- Start Digital Marketing Certification Content -->
<div class="row key-highlights-content">
    <div class="col-md-12">
        <ul>
            <li>Google Ads Certifications</li>
            <li>Google Analytics Certification</li>
            <li>Hubspot Certifications</li>
        </ul>
    </div>
</div>
<!-- End Digital Marketing Certification Content -->

<!-- Start Tools Covered For UI/UX Design/ description heading -->
<div class="row course-description">
    <div class="col-md-12 ">
        Description
    </div>
</div>
<!-- End Tools Covered For UI/UX Design/ description heading -->

<!-- Start Key Highlights content / General Content -->
<div class="row key-highlights-content">
    <div class="col-md-12">
        Digital marketing is the process of exploring, creating, and delivering value to meet the needs of a target market in terms of goods and services on the Internet & online based digital technologies such as desktop computers, mobile phones and other digital media & platforms to promote products and services including selection of a target audience.
    </div>
</div>
<!-- End Key Highlights content / General Content -->

<!-- Start Tools Covered For UI/UX Design/ Skills You Will Learn heading -->
<div class="row skills-you-will-learn-heading">
    <div class="col-md-12 ">
       Skills You Will Learn
    </div>
</div>
<!-- End Tools Covered For UI/UX Design/ Skills You Will Learn heading -->

<!-- Start Key Highlights content / General Content -->
<div class="row key-highlights-content">
    <div class="col-md-12">
        <ol>
            <li>Search Engine Optimization</li>
            <li>Social Media Marketing</li>
            <li>Paid Marketing</li>
            <li>Personal Branding</li>
            <li>Email Marketing</li>
        </ol>
    </div>
</div>
<!-- End Key Highlights content / General Content -->

<!-- Start Syllabus -->
<div class="row syllabus">
    <div class="col-md-12">

        <!-- Start Heading -->
        <div class="row">
            <div class="col-md-12 syllabus-heading">
                Syllabus
            </div>
        </div>
        <!-- End Heading -->

        <!-- Start Module row 1 -->
        <div class="row ">
            <div class="col-md-6">
                <!-- Start Module 1 - Search Engine Optimization Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                        Module 1 : <span class="module-heading-smaller">Search Engine Optimization</span>
                    </div>
                </div>
                <!-- End Module 1 - Search Engine Optimization Heading -->

                <!-- Start Module 1 - Search Engine Optimization Content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>SEO Basics 3 key pillars</li>
                            <li>Factors that affect the rankings on a webpage</li>
                            <li>On page and Off page SEO</li>
                            <li>SEO Audit Optimization</li>
                            <li>Handling SEO Growth</li>
                            <li>Content marketing for SEO Success</li>
                            <li>Link Building</li>
                        </ul>
                    </div>

                </div>
                <!-- End Module 1 - Search Engine Optimization Content -->

                <!-- Start Module 2 : Content Marketing -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                        Module 2 : <span class="module-heading-smaller">Content Marketing</span>
                    </div>
                </div>
                <!-- End Module 2 : Content Marketing -->

                <!-- Start Module 2 : Content Marketing -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Introduction to Marketing</li>
                            <li>Content Marketing Strategy and Overview</li>
                            <li>Content Marketing Channels</li>
                            <li>Writing Messages and Creating Content</li>
                            <li>Getting Your Message into the Media</li>
                            <li>Content Marketing Strategy & Challenges</li>
                            <li>Blog Marketing</li>
                            <li>Social Media Marketing Channels</li>
                            <li>Image Marketing</li>
                            <li>Video Marketing</li>
                            <li>Article and Press Release Marketing</li>
                            <li>Email Marketing</li>
                            <li>Event Marketing</li>
                            <li>B2B Marketing</li>
                        </ul>
                    </div>

                </div>
                <!-- End Module 2 : Content Marketing -->

                <!-- Start Module 3 : Paid Marketing -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                        Module 3 : <span class="module-heading-smaller">Paid Marketing</span>
                    </div>
                </div>
                <!-- End Module 3 : Paid Marketing -->

                <!-- Start Module 3 : Paid Marketing -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <ul>
                            <li>Introduction to Google Adwords & PPC advertising</li>
                            <li>Setting up Google Adwords account</li>
                            <li>Understanding Adwords account structure Campaigns, Adgroups, Ads, Keywords, etc</li>
                            <li>Types of Advertising campaigns- Search, Display, Shopping & video</li>
                            <li>Difference between search & display campaign</li>
                            <li>LinkedIn Ads</li>
                            <li>Types of Campaign</li>
                            <li>Drive traffic to your website</li>
                            <li>Audience Selection</li>
                            <li>Ad Creation and Optimization of LinkedIn Usage</li>
                            <li>Tips to optimize the campaign</li>
                        </ul>
                    </div>

                </div>
                <!-- End Module 3 : Paid Marketing -->

            </div>

            <div class="col-md-6">

                <!-- Start Module 4 : Social Media Marketing Heading -->
                <div class="row">
                    <div class="col-md-12 module-heading">
                        Module 4 : <span class="module-heading-smaller">Social Media Marketing</span>
                    </div>
                </div>
                <!-- End Module 4 : Social Media Marketing Heading -->

                <!-- Start Module 4 : Social Media Marketing content -->
                <div class="row">
                    <div class="col-md-12 module-content">
                        <p>Introduction to social media marketing</p>
                        <ol>
                            <li>
                                Facebook
                                <ul type="disc">
                                    <li>How to use Facebook for lead generation?</li>
                                    <li>Ways to use Facebook for branding?</li>
                                    <li>How to target the right audience?</li>
                                    <li>How to increase the likes of the Facebook business pages?</li>
                                    <li>How to create Facebook Ads?</li>
                                    <li>Facebook Ads Automation.</li>
                                    <li>How to generate leads through Facebook Marketing?</li>
                                    <li>How to add conversion tracking pixel code?</li>
                                    <li>Make regular reports keeping a check on the insights.</li>
                                </ul>
                            </li>
                            <li>
                                LinkedIn
                                <ul type="disc">
                                    <li>LinkedIn as a Marketing Platform</li>
                                    <li>LinkedIn for Personal Branding</li>
                                    <li>Brand Marketing on LinkedIn</li>
                                    <li>LinkedIn Company Pages</li>
                                    <li>LinkedIn Advanced Search</li>
                                    <li>LinkedIn Premium</li>
                                    <li>LinkedIn Ads</li>
                                    <li>Types of Campaign</li>
                                    <li>Drive traffic to your website</li>
                                    <li>Audience Selection</li>
                                    <li>Ad Creation and Optimization of LinkedIn Usage</li>
                                    <li>Tips to optimize the campaign</li>
                                </ul>
                            </li>
                            <li>
                                YouTube
                                <ul type="disc">
                                    <li>YouTube Marketing - Introduction & Ad Formats</li>
                                    <li>Creating Youtube Channel</li>
                                    <li>YouTube Ad Formats and SEO</li>
                                    <li>YouTube Campaign Creation</li>
                                    <li>YouTube Analytics</li>
                                    <li>Video Campaign Optimization Tips</li>
                                    <li>Top Keywords to rank your video</li>
                                    <li>Attracting Subscribers</li>
                                </ul>
                            </li>
                        </ol>
                    </div>

                </div>
                <!-- End Module 4 : Social Media Marketing content -->
            </div>

        </div>
        <!-- End Module row 1 -->


        <!-- Start Duration -->
        <div class="row border border-light border-right-0 border-bottom-0 border-left-0">
            <div class="col-md-12 syllabus-duration">
                Duration - 6 Months
            </div>
        </div>
        <!-- End Duration -->

    </div>
</div>
<!-- End Syllabus -->

<!-- Start brochure model -->
<div class="modal fade brochure-modal" id="modal_downlaod_brochure">
    <div class="modal-dialog modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row modal-contact-form-company-info">

                    <!-- Start brochure image -->
                    <div class="col-md-4">
                        <img class="img-fluid" src="{% static 'img/training-program-digital-marketing-model-img.png' %}" alt="snable">
                    </div>
                    <!-- End brochure image -->

                    <!-- Start Form -->
                    <div class="col-md-8 modal-contact-form">

                        <!-- Start Form Close Button -->
                        <div class="row pt-2">
                            <div class="col-md-12 text-right">
                                <a href="#" data-dismiss="modal" class="close">&times;</a>
                            </div>
                        </div>
                        <!-- End Form Close Button -->

                        <!-- Start Form heading -->
                        <div class="row">
                            <div class="col-md-12 form-heading">
                                Get Your Brochure Copy
                            </div>
                        </div>
                        <!-- Start Form heading -->

                        <!-- Start Form sub heading-->
                        <div class="row">
                            <div class="col-md-12 form-sub-heading">
                                Fill in the below details a personalised brochure
                            </div>
                        </div>
                        <!-- Start Form sub heading-->

                        <!-- Start name and mobile number -->
                        <form method="POST" action="inserttrainingprogramdigitalmarketingbrochurerecord" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <!-- Start Full name, Mobile number -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Name" name="full_name" required />
                              </div>
                              <div class="col-md-6 col-5 modal-contact-form-input-text-box pl-0">
                                 <input type="number" class="form-control" placeholder="Mobile Number" name="mobile_number" id="modal_mynum" required />
                              </div>
                           </div>
                           <!-- End Full name, Mobile number -->

                            <!-- Start Email address, Qualification -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Email" name="email_id" id="modal_myemail" required />
                              </div>
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Qualification" name="qualification" required />
                              </div>
                           </div>
                           <!-- End Email address, Qualification -->

                              <!-- Start Address -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Address" name="address" required />
                              </div>
                           </div>
                           <!-- End Address -->

                            <!-- Start terms and condition our privacy policy -->
                            <div class="row form-group form-check">
                                <div class="col-md-12 terms-condition-privacy-policy form-check-label">
                                    <input class="form-check-input" type="checkbox"> By submitting the form, you agree to our
                                    <a href="{% url 'termsandcondition' %}" class="text-decoration-none" target="_blank">Terms and Conditions</a>.
                                    and
                                     <a href="{% url 'privacypolicy' %}" class="text-decoration-none" target="_blank">Our Privacy Policy</a>.
                                </div>
                            </div>
                            <!-- End terms and condition our privacy policy -->

                            <div class="row modal-contact-form-btn">
                                  <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Download Brochure
                                    </button>
                                  </div>
                            </div>
                        </form>
                        <!-- End name and mobile number -->

                    </div>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brochure model -->

<!-- Start brochure model mobile view -->
<div class="modal fade brochure-modal" id="modal_downlaod_brochure_mobile_view">
    <div class="modal-dialog modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-body">

                <!-- Start Form Close Button -->
                <div class="row pt-2">
                    <div class="col-md-12 text-right">
                        <a href="#" data-dismiss="modal" class="close">&times;</a>
                    </div>
                </div>
                <!-- End Form Close Button -->

                <!-- Start Form heading -->
                <div class="row">
                    <div class="col-md-12 form-heading">
                        Get Your Brochure Copy
                    </div>
                </div>
                <!-- Start Form heading -->

                <!-- Start Form sub heading-->
                <div class="row">
                    <div class="col-md-12 form-sub-heading">
                        Fill in the below details a personalised brochure
                    </div>
                </div>
                <!-- Start Form sub heading-->

                <!-- Start brochure image -->
                <div class="row">
                    <div class="col-md-12 pt-2 pl-0">
                        <img class="img-fluid" src="{% static 'img/training-program-digital-marketing-model-img-mobile-view.png' %}" alt="snable" width="100%">
                    </div>
                </div>
                <!-- End brochure image -->

                <div class="row modal-contact-form-company-info">

                    <!-- Start Form -->
                    <div class="col-md-12 modal-contact-form">
                        <!-- Start name and mobile number -->
                        <form method="POST" action="inserttrainingprogramdigitalmarketingbrochurerecord" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <!-- Start Full name, Mobile number -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6 col-12">
                                 <input type="text" class="form-control" placeholder="Name" name="full_name" required />
                              </div>
                              <div class="col-md-6 col-12 modal-contact-form-input-text-box">
                                 <input type="number" class="form-control" placeholder="Mobile Number" name="mobile_number" id="modal_mynum" required />
                              </div>
                           </div>
                           <!-- End Full name, Mobile number -->

                            <!-- Start Email address, Qualification -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Email" name="email_id" id="modal_myemail" required />
                              </div>
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Qualification" name="qualification" required />
                              </div>
                           </div>
                           <!-- End Email address, Qualification -->

                              <!-- Start Address -->
                           <div class="row modal-contact-form-input">
                              <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="Address" name="address" required />
                              </div>
                           </div>
                           <!-- End Address -->

                            <!-- Start terms and condition our privacy policy -->
                            <div class="row form-group form-check">
                                <div class="col-md-12 terms-condition-privacy-policy form-check-label">
                                    <input class="form-check-input" type="checkbox"> By submitting the form, you agree to our
                                    <a href="{% url 'termsandcondition' %}" class="text-decoration-none" target="_blank">Terms and Conditions</a>.
                                    and
                                     <a href="{% url 'privacypolicy' %}" class="text-decoration-none" target="_blank">Our Privacy Policy</a>.
                                </div>
                            </div>
                            <!-- End terms and condition our privacy policy -->

                            <div class="row modal-contact-form-btn">
                                  <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Download Brochure
                                    </button>
                                  </div>
                            </div>
                        </form>
                        <!-- End name and mobile number -->

                    </div>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brochure model mobile view -->
{% endblock main_body %}
<!-- End Main body -->

<!-- Start Contact US Form & Google Map -->
{% block main_body_contact_form %}
<div class="container-fluid">
    <div class="row contact-us pl-5 pr-5 pb-3">
        <!-- Start Contact Us Form -->
      <div class="col-md-6">

         <!-- Start Contact Us heading  -->
         <div class="row contact-us-heading">
            <div class="col-md-12">
               Fill in your Details
            </div>
         </div>
         <!-- End Contact Us heading  -->

         <form method="post" action="insert_training_hiring_form" class="needs-validation" novalidate>
            {% csrf_token %}

            <!-- Start Full Name -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Enter your full name" name="full_name" required />
                  </div>
               </div>
            </div>
            <!-- End Full Name -->

            <!-- Start Qualification -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Enter your Qualifications" name="qualifications" required />
                  </div>
               </div>
            </div>
            <!-- Start Qualification -->

            <!-- Start Select Course -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12">
                  <div class="form-group">
                     <!--<input type="text" class="form-control" placeholder="Enter your full name" name="full_name" required />-->
                     <select name="course_name" id="" class="form-control" required>
                        <option value="">--- Select Course ---</option>
                        <option value="UI & UX Design">UI & UX Design</option>
                        <option value="Digital Marketing">Digital Marketing</option>
                        <option value="Hybrid Mobile App Development">Hybrid Mobile App Development</option>
                        <option value="Data Science">Data Science</option>
                        <option value="Machine Learning">Machine Learning</option>
                        <option value="Data Science & Machine Learning">Data Science & Machine Learning</option>
                        <option value="Full Stack & AIML">Full Stack & AIML</option>
                     </select>
                  </div>
               </div>
            </div>
            <!-- End Select Course -->

            <!-- Start Email Address -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Enter your email address" id="myemail" name="email_id" required />
                  </div>
               </div>
            </div>
            <!-- End Email Address -->

            <!-- Start Mobile & Whatsapp number -->
            <div class="row">
               <!-- Start Mobile number-->
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-2 col-3 contact-mobile-whats-icon">
                        <i class="fa-solid fa-phone"></i>
                     </div>
                     <div class="col-md-10 col-9 c-u-form c-u-form-without-p">
                        <div class="form-group pr-3">
                           <input type="number" class="form-control" placeholder="Enter your number" name="mobile_number" id="mynum" required />
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End Mobile number-->
               <!-- Start Whatsapp number-->
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-2 col-3 contact-mobile-whats-icon">
                        <i class="fa-brands fa-whatsapp"></i>
                     </div>
                     <div class="col-md-10 col-9 c-u-form c-u-form-without-p">
                        <div class="form-group pr-3">
                           <input type="number" class="form-control" placeholder="Enter your number" name="whatsapp_number" id="mynum1" required />
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End Whatsapp number-->
            </div>
            <!-- End Mobile & Whatsapp number -->

            <!-- Start Contact us form comments -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-12 pr-1 pl-4">
                  <div class="form-group">
                     <textarea class="form-control" rows="5" id="comment" name="message" placeholder="Message"></textarea>
                  </div>
               </div>
            </div>
            <!-- End Contact us form comments -->

            <!-- Start Submit button -->
            <div class="row c-u-form c-u-form-without-p">
               <div class="col-md-4">
                  <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
               </div>

               <div class="col-md-8 pt-3 text-white">
                  {% for i in messages %}
                  <!--{{i}} -->
                  {% if i.tags %}
                  <script>
                     alert("{{ i }}");
                  </script>
                  {% endif %} {% endfor %}
                  <!--{% if messages %}
                     {% for message in messages %}
                         {% if message.tags %}
                                 <script>alert("{{ message }}")</script>
                         {% endif %}
                     {% endfor %}
                     {% endif %}-->
               </div>
            </div>
            <!-- End Submit button -->

         </form>
      </div>
      <!-- End Contact Us Form -->

        <!-- Start google map for address -->
        <div class="col-md-6">
            <div class="row google-map-address">
                <div class="col-md-12 google-map-container">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3721.994315605251!2d79.0599659!3d21.1127928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb961cf6806a0ad6e!2sSnable%20Private%20Limited%20%7C%20SaaS%20Based%20Organization%20%7C%20Information%20Technologies%20%7C%20Digital%20Marketing%20%7C%20Mobile%20Application%20Development!5e0!3m2!1sen!2sin!4v1648702479280!5m2!1sen!2sin"
                        width="600"
                        height="450"
                        style="border: 0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        width="100%"
                        class="responsive-iframe"
                    ></iframe>
                </div>
            </div>
        </div>
        <!-- End google map for address -->
    </div>
    <div class="row mobile-view-google-map-address">
        <div class="col-md-12 mobile-view-google-map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3721.994315605251!2d79.0599659!3d21.1127928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb961cf6806a0ad6e!2sSnable%20Private%20Limited%20%7C%20SaaS%20Based%20Organization%20%7C%20Information%20Technologies%20%7C%20Digital%20Marketing%20%7C%20Mobile%20Application%20Development!5e0!3m2!1sen!2sin!4v1648702479280!5m2!1sen!2sin"
                width="600"
                height="450"
                style="border: 0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                width="100%"
                class="responsive-iframe"
            ></iframe>
        </div>
    </div>
</div>
{% endblock main_body_contact_form %}
<!-- End Contact US Form & Google Map -->
